<div class="container pt-6">
  <div class="col-sm-10 col-md-8 col-lg-6 m-auto d-table h-100">
    <div class="d-table-cell align-middle">
      <div class="card">
        <div class="card-body">
          <div class="text-center mt-3">
            <h2 class="h2">Log In</h2>
          </div>
          <ngx-spinner color="#87d1d4" type="ball-scale-multiple"></ngx-spinner>
          <p class="text-danger pl-1" *ngIf="error">{{error}}</p>
          <div class="m-sm-4">
            <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
              <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" #email="ngModel" class="form-control" name="email" ngModel required email>
              </div>
                <span class="text-danger pl-1" *ngIf="email.invalid && email.touched">
                  Email-id is not valid.
              </span>
              <p class="text-danger pl-1" *ngIf="errors.email">{{errors.email}}</p>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" #password="ngModel" class="form-control" name="password" ngModel required>
              </div>
              <span class="text-danger pl-1" *ngIf="password.invalid && password.touched">
                Password is not valid.
            </span>
              <p class="text-danger pl-1" *ngIf="errors.password">{{errors.password}}</p>
              <div><button type="submit" id="loginbutton" class="btn btn-primary" [disabled]="loginForm.invalid">Sign In</button></div>
            </form>
            <p class="mb-1 mt-1">
              <a routerLink="/forgot-password">I forgot my password</a>
            </p>
            <p class="mb-0">
              <a routerLink="/register" class="text-center">Register a new membership</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>