<div class="page-header">
  <div class="row align-items-center">
    <div class="col-auto">
      <img src="" style="cursor: pointer;" class="rounded-circle image-previewer" width="80" height="80"
        onclick="event.preventDefault();document.getElementById('_userAvatarFile').click();"><br>
    </div>
    <div class="col-md-6">
      <h2 class="page-title">{{ user.name }}</h2>
      <div class="page-subtitle">
        <div class="row">
          <div class="col-auto">
            <a href="#" class="text-reset">{{ user.name }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col " style="text-align: right">
      <input type="file" name="_userAvatarFile" style="pointer-events: auto;" id="_userAvatarFile" class="d-none"
        onchange="this.dispatchEvent(new InputEvent('input'))">
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="card">
    <ul class="nav nav-tabs" data-bs-toggle="tabs">
      <li class="nav-item">
        <a href="#tabs-details" class="nav-link active" data-bs-toggle="tab">Personal Details</a>
      </li>
    </ul>
    <ngx-spinner  type="ball-scale-multiple"></ngx-spinner>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane show active" id="tabs-details">
          <form #userForm = "ngForm" (ngSubmit)="updateProfile(userForm)">
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <input type="hidden" name="id" value="{{ user.id }}">
                  <label class="form-label">Name</label>
                  <input type="text" #userName = "ngModel" class="form-control" name="name" [(ngModel)]="user.name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="text" class="form-control" name="email" [(ngModel)]="user.email" disabled>
                  <span class="text-danger"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Role</label>
                  <input type="text" class="form-control" name="role" [(ngModel)]="user.role" disabled>
                  <span class="text-danger"></span>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>