<div class="container pt-6">
  <div class="col-sm-10 col-md-8 col-lg-6 m-auto d-table h-100">
    <div class="d-table-cell align-middle">
      <div class="card">
        <div class="card-body">
          <div class="text-center mt-3">
            <h2 class="h2">Register</h2>
          </div>
          <div class="m-sm-4">
            <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
              <div class="mb-3">
                <label class="form-label">Full name</label>
                <input type="text" #name="ngModel" class="form-control" name="name" ngModel required>
              </div>
              <p class="text-danger pl-1" *ngIf="errors.name">{{errors.name}}</p>
              <span class="text-danger pl-1" *ngIf="name.invalid && name.touched">
                Name is required.
            </span>
              <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" #email="ngModel" class="form-control" name="email" ngModel required email>
              </div>
              <p class="text-danger pl-1" *ngIf="errors.email">{{errors.email}}</p>
              <span class="text-danger pl-1" *ngIf="email.invalid && email.touched">
                Email-id is not valid.
            </span>
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" #password="ngModel" class="form-control" name="password" ngModel required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}">
              </div>
              <p class="text-danger pl-1" *ngIf="errors.password">{{errors.password}}</p>
              <span class="text-danger pl-1" *ngIf="password.invalid && password.touched">
                Password is not valid.(At least 8 characters in length, 
                Lowercase letters, 
                Uppercase letters, 
                Numbers, Special characters)
            </span>
              <div class="mb-3">
                <label class="form-label">Retype Password</label>
                <input type="password" class="form-control" name="password_confirmation" ngModel required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}">
              </div>
              <div class="row">
                <div class="col">
                  <button type="submit" class="btn btn-primary btn-block" id="registerbutton" [disabled]="registerForm.invalid">Register</button>
                </div>
              </div>
            </form>
            <a routerLink="/login" class="text-center">I already have a membership</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>