<!-- <div class="wrapper"> -->
<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                    <i class="align-middle" data-feather="settings"></i>
                </a>
            <ngx-spinner color="#87d1d4" type="ball-scale-multiple"></ngx-spinner>

                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                    <img [src]="imagePath+user?.profile" class="avatar img-fluid rounded-circle me-1" alt="{{ user?.name }}" />
                    <span class="text-dark">{{ user?.name }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" routerLink="/profile"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/logout" >Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>