<!-- User Info Table -->
<div class="container mt-0 pt-0">
    <ngx-spinner color="#87d1d4" type="ball-scale-multiple"></ngx-spinner>
    <div class="mt-5">
        <div class="input-group">
            <input [(ngModel)]="FilterText" (keyup)="filterData()" type="search" class="form-control"
                id="datatable-search-input" placeholder="Search">
            
            <div class="me-2"><button type="button" class="btn btn-primary btn btn-outline-info" (click)="openDialog()" id="AddUser">Add User</button></div>

            <div class="me-2">
                <ul class="navbar-nav navbar-align">
                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                            <i class="align-middle fa fa-settings"></i>
                        </a>
                        <button class="nav-link dropdown-toggle p-2" data-bs-toggle="dropdown" class="btn btn-secondary"
                            color="primary" [disabled]="wait" id="manageRole">Manage Role</button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <button class="dropdown-item" (click)="RoleSelected(Admin)">Admin</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item" (click)="RoleSelected(Subscriber)">Subscriber</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class=""><button class="btn btn btn-danger" id="SelectIdDeleteUser" (click)="deleteSelected()"
                 [disabled]="wait">Delete</button></div>
                <span style="margin-right: 50%;"></span>
        </div><br>
        <div class="mat-elevation-z8">
            <table class="table-hover" mat-table [dataSource]="dataSource" matSort>

                <!-- checkbox Column -->
                <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox [checked]="selection.hasValue()" (change)="toggleAll()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element"><mat-checkbox (click)="selectID(element.id)"
                            (change)="onSelect(element)" [checked]="selection.isSelected(element)"
                            [disabled]="element.id === LoggedInUserID">
                        </mat-checkbox></td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- Role Column -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>

                <!-- image Column -->
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                    <td mat-cell *matCellDef="let element"><img [src]="imagePath+element.profile" class="rounded m-2"
                            width="60" height="60"> </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Action</th>
                    <td mat-cell *matCellDef="let row" style="text-align: center;">
                        <button mat-icon-button (click)="onEdit(row)" id="editUser"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button color="warn" (click)="onDelete(row)"
                           id="deleteUser" [disabled]="row.id === LoggedInUserID"><mat-icon>delete_outline</mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>